body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card h3 {
  margin-top: 0;
}

.card h4 {
  margin-bottom: 8px;
}

.card ul {
  padding-left: 20px;
}

.day-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.day-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #23408f;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1 1 calc(20% - 10px); /* Adjusted to ensure buttons are side by side */
  max-width: 200px;
}

.day-buttons button:hover {
  background-color: #00aeef;
}

.day-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  color: black; /* Fully opaque text */
  font-size: 12px; /* Smaller font size */
}

/* Mobile Optimization for screens smaller than 600px */
@media (max-width: 600px) {
  .day-buttons {
    justify-content: center;
    background-color: #23408f;
  }

  .day-buttons button {
    flex: 1 1 calc(50% - 10px); /* Adjusted to ensure buttons are side by side on smaller screens */
  }

  .card-container {
    justify-content: flex-start;
    padding: 12px;
  }

  .card {
    max-width: 90%;
  }

  h1 {
    font-size: 1.5em; /* Smaller font size for mobile devices */
  }

  p {
    font-size: 1em;
  }
}

/* For very small screens (less than 400px), make buttons smaller */
@media (max-width: 400px) {
  .day-buttons {
    justify-content: center;
  }

  .day-buttons button {
    flex: 1 1 calc(50% - 10px);
    max-width: 120px;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}